name: VPS Ubuntu

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cài SSH
        run: |
          sudo apt update
          sudo apt install -y openssh-server
          echo "root:123456" | sudo chpasswd
          sudo sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config
          sudo systemctl restart ssh

      - name: Tải cloudflared
        run: |
          curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 -o cloudflared
          chmod +x cloudflared
          sudo mv cloudflared /usr/local/bin/

      - name: Mở Tunnel free
        run: |
          cloudflared tunnel --url ssh://localhost:22 > tunnel.log 2>&1 &
          sleep 10
          cat tunnel.log | grep "trycloudflare.com"
